body {
  background-color: #fcfcfc;
  font-family: "platypi" sans-serif;
}

#intro {
  color: #06d6a0;
  height: 100vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#intro h1 {
  font-family: "platypi";
  font-size: 96px;
  filter: drop-shadow(5px 5px #26547c);
  animation: fadein ease-in 1s;
}

#intro h3 {
  animation-delay: 1s;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  #intro h1 {
    font-size: 48px;
  }
  #intro code {
    font-size: 16px;
  }
}

#intro h3 {
  margin-top: 20px;
}

#intro code {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  animation-delay: 3s;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#arrowDown {
  font-size: 75px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 37.5px);
  color: rgb(234, 8, 121);
}

#about {
  color: white;
  background: #06d6a0;
  padding: 30px;
  text-align: center;
  p {
    font-size: 20px;
  }
}

#contact {
  background: #26547c;
  color: white;
  padding: 30px;
  text-align: center;
  .row {
    margin-bottom: 15px;
  }

  a {
    color: white;
  }

  input,
  textarea {
    padding: 10px;
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

#portfolio {
  padding: 30px;
  color: white;
  text-align: center;
  background: #ef476f;
}

footer {
  padding: 30px;
  background: #fcfcfc;
  color: #06d6a0;
  text-align: center;
}

#about,
#contact,
#portfolio,
footer {
  box-shadow: -10px 0px 25px #26547c;
}

.bg-light {
  background-color: #06d6a0 !important;
}

#project {
  background: #ef476f;
  color: white;
  padding: 30px;
}
